.button-wrapper {
    display: inline-block;
}

.button-wrapper button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.button-wrapper button i {
    margin-right: 5px;
}