html,
body {
    height: 95%;
    margin: 1%;
    padding: 3;
    background-color: white !important;
}

.bodyy {
    background-color: #333;
}

.search {
    position: relative;
}

.search input[type="text"] {
    padding-right: 70px;
    /* Menambahkan ruang kosong untuk tombol */
}

.search .options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    max-height: 150px;
    overflow-y: auto;
}

.search .options-container option {
    padding: 5px;
    font-size: 14px;
    color: #333;
}

.search button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#search-options option {
    color: white;
}

.container {
    display: flex;
    justify-content: flex-end;
}

#search-box {
    width: 300px;
    height: 40px;
    padding: 10px;
    color: black;
    background-color: #fff;
    margin: 14px;
    font-family: 'Amarante';
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-transform: capitalize;
}


#search-box::placeholder {
    color: black;
    font-weight: 500;

}

#search-box:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 8px 15px black(255, 140, 0, 0.4);
}

#info-sidebar {
    width: 500px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 10px;
    padding: 10px;
    overflow-y: auto;
    display: none;
}

#options {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
}

#options option {
    padding: 10px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#options option:hover {
    background-color: #f2f2f2;
}

#options.show {
    display: block;
}

.gm-style .custom-info-window {
    display: none !important;
}

#map {
    height: 1000px;
    /* Atur tinggi peta */
    width: 2225px;
    text-align: left;
    /* Atur lebar peta */
}

/*penanda lokasi*/
#markerName {
    color: red;
    /* Ganti dengan warna yang diinginkan */
    font-weight: bold;
    /* Atur gaya teks sesuai kebutuhan */
    font-size: 14px;
    /* Atur ukuran teks sesuai kebutuhan */
}

/* Styling untuk infoSidebar */
.location-info {
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, #f6f6f6, #fff);
}

/* Styling untuk rating-star */
.rating-star {
    display: flex;
    align-items: center;
}

.rating-star input[type="checkbox"] {
    display: none;
}

.rating-star label {
    font-size: 30px;
    color: #ddd;
    margin-right: 10px;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.rating-star label:before {
    content: "\2605";
}

.rating-star input[type="checkbox"]:checked~label {
    color: #ffce00;
}

/* Styling untuk textarea */
#comment {
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 5px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.rating {
    display: flex;
    align-items: center;
}

.rating input[type="checkbox"] {
    display: none;
}

.rating label {
    font-size: 30px;
    color: #ddd;
    margin-right: 10px;
    cursor: pointer;
}

.rating label:before {
    content: "\2605";
}

.rating input[type="checkbox"]:checked~label {
    color: #ffce00;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    z-index: 100;
    transition: 0.6s;
    background: #000;
    align-items: center;
}

.logo {
    position: relative;
    font-weight: bold;
    color: #0dcdc2;
    text-decoration: none;
    font-size: 2.8em;
    letter-spacing: 2px;
    transition: 0.6s;
}

/* navigasi */
.navigation a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    margin-left: 5px;
    transition: background 0.3s ease;
    position: relative;
    z-index: 1;
    padding: 5px 10px;
    /* Tambahkan border tipis putih pada menu yang aktif */
    border: 1px solid transparent;
}

.navigation a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    right: -5px;
    bottom: 0;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.233);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navigation a:hover::before,
.navigation a.active::before {
    opacity: 1;
}

/* Tambahkan style untuk menu yang aktif */
.navigation a.active {
    border-color: #ffffff;
    border-radius: 100px;
}

.nav-item.dropdown {
    position: relative;
    float: right;
    margin-left: 15px;
}

.nav-link.dropdown-toggle::after {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    content: "\25BC";
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 0;
    margin: 0;
}

.dropdown-item {
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    pointer-events: none;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

/* Popular Destination */
/* Popular Destination */
.popular-destination {
    padding: 20px 0;
}

.section-title {
    font-size: 36px;
    font-weight: bold;
}

.section-subtitle {
    font-size: 18px;
    color: #777;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.destination {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    padding-top: 50px;
    padding: 0 50px;
}

.card {
    width: 600px;
    height: 680px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1rem 3rem rgba(13, 205, 194, 0.2);
    padding-bottom: 2rem;
    margin: 3rem 3rem;
    transition: transform 0.3s, box-shadow 0.3s;
    border: 2px solid #0dcdc2;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(13, 205, 194, 0.4), 0 0.5rem 1rem rgba(13, 205, 194, 0.3);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 25px;
    transition: filter 0.3s;
}

.card-img-top:hover {
    filter: brightness(60%);
}

.card-body {
    padding: 1rem 4.5rem;
    margin-bottom: 120px;
}

.card-title {
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #0dcdc2;
}

.card-text {
    font-size: 20px;
}

/* Styles for Popular Destination section */


.star {
    font-size: 24px;
    color: #f7d22c;
    margin-right: 5px;
}



.review-btn {
    padding: 10px 20px;
    background-color: #0dcdc2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.review-btn:hover {
    background-color: #008b8b;
}




/*service*/
.heading {
    text-align: center;
    padding: 2.5rem;
    font-size: 3.9rem;
    border-radius: 0.5rem;
    padding: 2rem 1rem;
    color: #0dcdc2;
}

.services {
    text-align: center;
    color: #000;
}

.services a {
    text-align: center;
    color: #000;
    text-decoration: none;
}

.services a:hover {
    color: #0dcdc2
}

.services .box-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 1.5rem;
    justify-content: center;
}

.services .box-container .box {
    max-width: 20%;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    white-space: normal;
}

.services .box-container .box:hover {
    color: #0dcdc2;
}

.services .box-container .box i {
    padding: 1rem;
    font-size: 5.5rem;
}

.services .box-container .box h3 {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.services .box-container .box p {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.services .box-container :hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

/* Sembunyikan radio button */
input[type="radio"] {
    display: none;
}

/* Tambahkan gaya ikon bintang menggunakan label */
.rating label {
    font-size: 34px;
    color: #ccc;
    cursor: pointer;
}

/* Berikan tampilan ikon bintang terpilih */
.rating input[type="radio"]:checked~label {
    color: gold;
}

.social-media img {
    width: 50px;
    height: 50px;
}