html,
body {
  height: 95%;
  margin: 1%;
  padding: 3;
  background-color: white !important;
}

.bodyy {
  background-color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  padding-top: 50px;
  padding: 0 50px;
}

.card {
  width: 600px;
  height: 680px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(13, 205, 194, 0.2);
  padding-bottom: 2rem;
  margin: 3rem 3rem;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid #0dcdc2;
  text-decoration: none;
}
.card a {
  text-decoration: none;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 3rem rgba(13, 205, 194, 0.4),
    0 0.5rem 1rem rgba(13, 205, 194, 0.3);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 25px;
  transition: filter 0.3s;
}

.card-img-top:hover {
  filter: brightness(60%);
}

.card-body {
  padding: 1rem 4.5rem;
  margin-bottom: 120px;
}
.card-body a {
  color: #000000;
}

.card-title {
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #0dcdc2;
}

.card-text {
  font-size: 20px;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*content*/
.body .bodyBx {
  position: relative;
  background: linear-gradient(to left, #00000000, transparent),
    linear-gradient(to right, #000000 1%, transparent), url(img/bgbg2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 39vh;
}

.body::before {
  display: flex;
  align-items: center;
  content: "";
  background: #000;
  position: absolute;
  max-height: 43vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.body .content h1 {
  font-size: 70px;
  font-weight: 750;
  color: white;
}

.body .content p {
  max-width: 700px;
  font-size: 40px;
  margin: 20px 0 40px;
  color: #fff;
}

.body .content .btn-box {
  display: flex;
  width: 345px;
  height: 50px;
}

.navigation a {
  font-size: 26px;
  text-decoration: none;
  color: #0dcdc2;
  font-weight: 400;
  margin-left: 5px;
  transition: background 0.3s ease;
  position: relative;
  z-index: 1;
  padding: 7px 15px;
  /* Tambahkan border tipis putih pada menu yang aktif */
  border: 1px solid transparent;
}

.navigation button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.navigation button.raise {
  --color: #0dcdc2;
  --hover: #00bab0;
}

button {
  color: var(--color);
  transition: 0.25s;
}

button:hover,
button:focus {
  border-color: var(--hover);
  color: #fff;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.8em 0.8em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.button {
  background-color: white;
  /* Warna latar belakang putih bening dengan transparansi */
  border: none;
  color: black;
  margin: 20px;
  /* Warna teks */
  padding: 10px 25px;
  /* Padding tombol */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  /* Radius melengkung pada tombol */
  margin-right: 10px;
  /* Jarak antara tombol sebesar 20px */
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  /* Warna latar belakang putih bening saat dihover dengan transparansi */
}

.button:last-child {
  margin-right: 0;
  /* Menghilangkan margin kanan pada tombol terakhir */
}

.button {
  background-color: white;
  /* Warna latar belakang putih bening dengan transparansi */
  border: none;
  color: black;
  margin: 20px;
  /* Warna teks */
  padding: 10px 25px;
  /* Padding tombol */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  /* Radius melengkung pada tombol */
  margin-right: 10px;
  /* Jarak antara tombol sebesar 20px */
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  /* Warna latar belakang putih bening saat dihover dengan transparansi */
}

.button:last-child {
  margin-right: 0;
  /* Menghilangkan margin kanan pada tombol terakhir */
}

.search {
  position: relative;
}

.search input[type="text"] {
  padding-right: 70px;
  /* Menambahkan ruang kosong untuk tombol */
}

.search .options-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
}

.search .options-container option {
  padding: 5px;
  font-size: 14px;
  color: #333;
}

.search button[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

#search-options option {
  color: white;
}

.container {
  display: flex;
  justify-content: flex-end;
}

#search-box {
  width: 300px;
  height: 40px;
  padding: 10px;
  color: black;
  background-color: #fff;
  margin: 14px;
  font-family: "Amarante";
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-transform: capitalize;
}

#search-box::placeholder {
  color: black;
  font-weight: 500;
}

#search-box:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 8px 15px black(255, 140, 0, 0.4);
}

.button {
  background-color: white;
  /* Warna latar belakang putih bening dengan transparansi */
  border: none;
  color: black;
  margin: 20px;
  /* Warna teks */
  padding: 10px 25px;
  /* Padding tombol */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  /* Radius melengkung pada tombol */
  margin-right: 10px;
  /* Jarak antara tombol sebesar 20px */
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  /* Warna latar belakang putih bening saat dihover dengan transparansi */
}

.button:last-child {
  margin-right: 0;
  /* Menghilangkan margin kanan pada tombol terakhir */
}

#info-sidebar {
  width: 500px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 10px;
  overflow-y: auto;
  display: none;
}

#options {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ddd;
  border-top: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}

#options option {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

#options option:hover {
  background-color: #f2f2f2;
}

#options.show {
  display: block;
}

.gm-style .custom-info-window {
  display: none !important;
}

#map {
  height: 1000px;
  /* Atur tinggi peta */
  width: 2225px;
  text-align: left;
  /* Atur lebar peta */
}

/*penanda lokasi*/
#markerName {
  color: red;
  /* Ganti dengan warna yang diinginkan */
  font-weight: bold;
  /* Atur gaya teks sesuai kebutuhan */
  font-size: 14px;
  /* Atur ukuran teks sesuai kebutuhan */
}

/* Styling untuk infoSidebar */
.location-info {
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, #f6f6f6, #fff);
}

/* Styling untuk rating-star */
.rating-star {
  display: flex;
  align-items: center;
}

.rating-star input[type="checkbox"] {
  display: none;
}

.rating-star label {
  font-size: 30px;
  color: #ddd;
  margin-right: 10px;
  cursor: pointer;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.rating-star label:before {
  content: "\2605";
}

.rating-star input[type="checkbox"]:checked ~ label {
  color: #ffce00;
}

/* Styling untuk textarea */
#comment {
  width: 100%;
  height: 100px;
  font-size: 16px;
  padding: 5px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.rating {
  display: flex;
  align-items: center;
}

.rating input[type="checkbox"] {
  display: none;
}

.rating label {
  font-size: 30px;
  color: #ddd;
  margin-right: 10px;
  cursor: pointer;
}

.rating label:before {
  content: "\2605";
}

.rating input[type="checkbox"]:checked ~ label {
  color: #ffce00;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  z-index: 100;
  transition: 0.6s;
  background: #000;
  align-items: center;
}

.logo {
  position: relative;
  font-weight: bold;
  color: #0dcdc2;
  text-decoration: none;
  font-size: 2.8em;
  letter-spacing: 2px;
  transition: 0.6s;
}

.navigation a:hover::before,
.navigation a.active::before {
  opacity: 1;
}

/* Tambahkan style untuk menu yang aktif */
.navigation a.active {
  border-color: #ffffff;
  border-radius: 100px;
}

.nav-item.dropdown {
  position: relative;
  float: right;
  margin-left: 15px;
}

.nav-link.dropdown-toggle::after {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  content: "\25BC";
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
  pointer-events: none;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

/* Popular Destination */
.popular-destination {
  padding: 20px 0;
}

.section-title {
  font-size: 36px;
  font-weight: bold;
}

.section-subtitle {
  font-size: 18px;
  color: #777;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.destination {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
  padding-top: 50px;
  padding: 0 50px;
}

.card {
  width: 600px;
  height: 680px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(13, 205, 194, 0.2);
  padding-bottom: 2rem;
  margin: 3rem 3rem;
  transition: transform 0.3s, box-shadow 0.3s;
  border: 2px solid #0dcdc2;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 3rem rgba(13, 205, 194, 0.4),
    0 0.5rem 1rem rgba(13, 205, 194, 0.3);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 25px;
  transition: filter 0.3s;
}

.card-img-top:hover {
  filter: brightness(60%);
}

.card-body {
  padding: 1rem 4.5rem;
  margin-bottom: 120px;
}

.card-title {
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #0dcdc2;
}

.card-text {
  font-size: 20px;
}

/* Styles for Popular Destination section */

.star {
  font-size: 24px;
  color: #f7d22c;
  margin-right: 5px;
}

.review-btn {
  padding: 10px 20px;
  background-color: #0dcdc2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.review-btn:hover {
  background-color: #008b8b;
}

/*service*/
.heading {
  text-align: center;
  padding: 2.5rem;
  font-size: 3.9rem;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  color: #0dcdc2;
}

/* Sembunyikan radio button */
input[type="radio"] {
  display: none;
}

/* Tambahkan gaya ikon bintang menggunakan label */
.rating label {
  font-size: 34px;
  color: #ccc;
  cursor: pointer;
}

/* Berikan tampilan ikon bintang terpilih */
.rating input[type="radio"]:checked ~ label {
  color: gold;
}

.social-media img {
  width: 50px;
  height: 50px;
}

.button-wrapper {
  display: inline-block;
}

.button-wrapper button {
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.button-wrapper button i {
  margin-right: 5px;
}

@media (max-width: 720px) {
  header {
    padding: 10px 5%;
  }

  .logo {
    font-size: 1.5em;
  }

  /* navigasi */
  .navigation a {
    font-size: 12px;
    font-weight: 200;
    margin-left: 5px;
    padding: 3px 5px;
  }

  .navigation button {
    margin: 0.1em;
    padding: 0.5em 1em;
  }

  /*content*/
  .body .bodyBx {
    height: 36vh;
    margin-left: 10%;
    min-height: 100%;
    margin-top: 70px;
  }

  .body::before {
    max-height: 46.6vh;
  }

  .body .content h1 {
    font-size: 30px;
    font-weight: 400;
  }

  .body .content p {
    max-width: 456px;
    font-size: 20px;
    margin: 10px 0 20px;
  }

  .body .content .btn-box {
    display: flex;
    width: 82px;
    height: 23px;
  }

  .btn-box a {
    width: 89px;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
  }

  /* Popular Destination */
  .popular-destination {
    padding: 10px 0;
  }

  .section-title {
    font-size: 23px;
  }

  .section-subtitle {
    font-size: 16px;
  }

  .destination {
    padding: 10px;
    padding-top: 10px;
    padding: 0 10px;
  }

  .card {
    width: 300px;
    height: 360px;
    border-radius: 10px;
    padding-bottom: 0.3rem;
    margin: 1rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-img-top {
    height: 130px;
    margin-bottom: 10px;
  }

  .card-body {
    padding: 0.8rem 1rem;
    margin-bottom: 100px;
  }

  .card-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 12px;
  }

  /*testinmonials*/

  .testimonial {
    min-height: 800px;
    padding: 60px 0;
  }

  .testimonial .heading {
    font-size: 72px;
    margin-bottom: 40px;
  }

  .container {
    gap: 60px;
  }

  .contentBx {
    width: 600px;
    padding: 50px;
    margin: 0 160px;
  }

  .testimonialContent {
    flex: 1;
  }

  .testimonialImg {
    margin-top: 20px;
  }

  .contentBx p {
    font-size: 24px;
    line-height: 1.6;
  }

  h3 {
    font-size: 28px;
    margin-top: 20px;
  }

  .testimonial .rating {
    margin-top: 10px;
  }

  .testimonial .rating .star {
    margin: 0 2px;
  }

  /*service*/
  .heading {
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    padding: 0.6rem0.3rem;
  }

  .services .box-container {
    gap: 0.5rem;
  }

  .services .box-container .box {
    max-width: 20%;
    border-radius: 0.5rem;
    padding: 0.3rem;
  }

  .services .box-container .box i {
    padding: 0.3rem;
    font-size: 1.8rem;
  }

  .services .box-container .box h3 {
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .services .box-container .box p {
    font-size: 0.5rem;
    padding: 0.25rem 0;
  }

  /*about us*/
  .about {
    width: 100%;
    padding: 20px;
  }

  .about .left {
    padding: 30px;
    width: 50%;
  }

  .about .left img.imgabout {
    max-width: 300px;
    border-radius: 40px;
  }

  .about .about-content {
    padding: 30px;
    width: 50%;
  }

  .headingabout {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  hr {
    margin-bottom: 7px;
  }

  hr::before {
    width: 10px;
    height: 10px;
  }

  hr::after {
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .text {
    font-size: 11px;
    font-weight: 100;
  }

  h5 {
    font-size: 24px;
  }
}

@media (max-width: 800px) {
  header {
    padding: 10px 5%;
  }

  .logo {
    font-size: 1.5em;
  }

  /* navigasi */
  .navigation a {
    font-size: 12px;
    font-weight: 200;
    margin-left: 5px;
    padding: 3px 5px;
  }

  .navigation button {
    margin: 0.1em;
    padding: 0.5em 1em;
  }

  /*content*/
  .body .bodyBx {
    height: 36vh;
    margin-left: 10%;
    min-height: 100%;
    margin-top: 70px;
  }

  .body::before {
    max-height: 46.6vh;
  }

  .body .content h1 {
    font-size: 30px;
    font-weight: 400;
  }

  .body .content p {
    max-width: 456px;
    font-size: 20px;
    margin: 10px 0 20px;
  }

  .body .content .btn-box {
    display: flex;
    width: 82px;
    height: 23px;
  }

  .btn-box a {
    width: 89px;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
  }

  /* Popular Destination */
  .popular-destination {
    padding: 15px 0;
  }

  .section-title {
    font-size: 24px;
  }

  .section-subtitle {
    font-size: 17px;
  }

  .destination {
    padding: 12px;
    padding-top: 12px;
    padding: 0 12px;
  }

  .card {
    width: 330px;
    height: 380px;
    padding-bottom: 0.35rem;
    margin: 1.1rem 1.1rem;
  }

  .card-img-top {
    height: 140px;
    margin-bottom: 12px;
  }

  .card-body {
    padding: 0.85rem 1.1rem;
    margin-bottom: 110px;
  }

  .card-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 12px;
  }

  /*testinmonials*/

  .testimonial {
    min-height: 800px;
    padding: 60px 0;
  }

  .testimonial .heading {
    font-size: 72px;
    margin-bottom: 40px;
  }

  .container {
    gap: 60px;
  }

  .contentBx {
    width: 600px;
    padding: 50px;
    margin: 0 160px;
  }

  .testimonialContent {
    flex: 1;
  }

  .testimonialImg {
    margin-top: 20px;
  }

  .contentBx p {
    font-size: 24px;
    line-height: 1.6;
  }

  h3 {
    font-size: 28px;
    margin-top: 20px;
  }

  .testimonial .rating {
    margin-top: 10px;
  }

  .testimonial .rating .star {
    margin: 0 2px;
  }

  /*service*/
  .heading {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 0.6rem0.3rem;
  }

  .services .box-container {
    gap: 0.5rem;
  }

  .services .box-container .box {
    max-width: 20%;
    border-radius: 0.5rem;
    padding: 0.3rem;
  }

  .services .box-container .box i {
    padding: 0.3rem;
    font-size: 1.8rem;
  }

  .services .box-container .box h3 {
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .services .box-container .box p {
    font-size: 0.5rem;
    padding: 0.25rem 0;
  }

  /*about us*/
  .about {
    width: 100%;
    padding: 20px;
  }

  .about .left {
    padding: 30px;
    width: 50%;
  }

  .about .left img.imgabout {
    max-width: 350px;
    border-radius: 90px;
  }

  .about .about-content {
    padding: 30px;
    width: 50%;
  }

  .headingabout {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  hr {
    margin-bottom: 7px;
  }

  hr::before {
    width: 10px;
    height: 10px;
  }

  hr::after {
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .text {
    font-size: 12px;
    font-weight: 100;
  }

  h5 {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 10px 5%;
  }

  .logo {
    font-size: 1.5em;
  }

  /* navigasi */
  .navigation a {
    font-size: 16 px;
    font-weight: 200;
    margin-left: 5px;
    padding: 3px 5px;
  }

  .navigation button {
    margin: 0.1em;
    padding: 0.5em 1em;
  }

  /*content*/
  .body .bodyBx {
    height: 36vh;
    margin-left: 10%;
    min-height: 100%;
    margin-top: 70px;
  }

  .body::before {
    max-height: 46.6vh;
  }

  .body .content h1 {
    font-size: 30px;
    font-weight: 400;
  }

  .body .content p {
    max-width: 456px;
    font-size: 20px;
    margin: 10px 0 20px;
  }

  .body .content .btn-box {
    display: flex;
    width: 82px;
    height: 23px;
  }

  .btn-box a {
    width: 89px;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
  }

  /* Popular Destination */
  .popular-destination {
    padding: 10px 0;
  }

  .section-title {
    font-size: 23px;
  }

  .section-subtitle {
    font-size: 16px;
  }

  .destination {
    padding: 10px;
    padding-top: 10px;
    padding: 0 10px;
  }

  .card {
    width: 290px;
    height: 360px;
    border-radius: 10px;
    padding-bottom: 0.3rem;
    margin: 0.8rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-img-top {
    height: 130px;
    margin-bottom: 10px;
  }

  .card-body {
    padding: 0.8rem 1rem;
    margin-bottom: 100px;
  }

  .card-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 12px;
  }

  /*testinmonials*/

  .testimonial {
    min-height: 800px;
    padding: 60px 0;
  }

  .testimonial .heading {
    font-size: 72px;
    margin-bottom: 40px;
  }

  .container {
    gap: 60px;
  }

  .contentBx {
    width: 600px;
    padding: 50px;
    margin: 0 160px;
  }

  .testimonialContent {
    flex: 1;
  }

  .testimonialImg {
    margin-top: 20px;
  }

  .contentBx p {
    font-size: 24px;
    line-height: 1.6;
  }

  h3 {
    font-size: 28px;
    margin-top: 20px;
  }

  .testimonial .rating {
    margin-top: 10px;
  }

  .testimonial .rating .star {
    margin: 0 2px;
  }

  /*service*/
  .heading {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 0.6rem0.3rem;
  }

  .services .box-container {
    gap: 0.5rem;
  }

  .services .box-container .box {
    max-width: 20%;
    border-radius: 0.5rem;
    padding: 0.3rem;
  }

  .services .box-container .box i {
    padding: 0.3rem;
    font-size: 1.8rem;
  }

  .services .box-container .box h3 {
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .services .box-container .box p {
    font-size: 0.55rem;
    padding: 0.25rem 0;
  }

  /*about us*/
  .about {
    width: 100%;
    padding: 20px;
  }

  .about .left {
    padding: 30px;
    width: 50%;
  }

  .about .left img.imgabout {
    max-width: 370px;
    border-radius: 50px;
  }

  .about .about-content {
    padding: 30px;
    width: 50%;
  }

  .headingabout {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  hr {
    margin-bottom: 7px;
  }

  hr::before {
    width: 10px;
    height: 10px;
  }

  hr::after {
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .text {
    font-size: 14px;
    font-weight: 100;
  }

  h5 {
    font-size: 30px;
  }
}

@media (max-width: 1152px) {
  header {
    padding: 10px 5%;
  }

  .logo {
    font-size: 1.5em;
  }

  /* navigasi */
  .navigation a {
    font-size: 16 px;
    font-weight: 200;
    margin-left: 5px;
    padding: 3px 5px;
  }

  .navigation button {
    margin: 0.1em;
    padding: 0.5em 1em;
  }

  /*content*/
  .body .bodyBx {
    height: 47vh;
    margin-left: 10%;
    min-height: 100%;
    margin-top: 70px;
  }

  .body::before {
    max-height: 57.7vh;
  }

  .body .content h1 {
    font-size: 34px;
    font-weight: 400;
  }

  .body .content p {
    max-width: 456px;
    font-size: 22px;
    margin: 10px 0 20px;
  }

  .body .content .btn-box {
    display: flex;
    width: 82px;
    height: 23px;
  }

  .btn-box a {
    width: 89px;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
  }

  /* Popular Destination */
  .popular-destination {
    padding: 10px 0;
  }

  .section-title {
    font-size: 23px;
  }

  .section-subtitle {
    font-size: 16px;
  }

  .destination {
    padding: 10px;
    padding-top: 10px;
    padding: 0 10px;
  }

  .card {
    width: 290px;
    height: 360px;
    border-radius: 10px;
    padding-bottom: 0.3rem;
    margin: 0.8rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-img-top {
    height: 130px;
    margin-bottom: 10px;
  }

  .card-body {
    padding: 0.8rem 1rem;
    margin-bottom: 100px;
  }

  .card-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 12px;
  }

  /*testinmonials*/

  .testimonial {
    min-height: 800px;
    padding: 60px 0;
  }

  .testimonial .heading {
    font-size: 72px;
    margin-bottom: 40px;
  }

  .container {
    gap: 60px;
  }

  .contentBx {
    width: 600px;
    padding: 50px;
    margin: 0 160px;
  }

  .testimonialContent {
    flex: 1;
  }

  .testimonialImg {
    margin-top: 20px;
  }

  .contentBx p {
    font-size: 24px;
    line-height: 1.6;
  }

  h3 {
    font-size: 28px;
    margin-top: 20px;
  }

  .testimonial .rating {
    margin-top: 10px;
  }

  .testimonial .rating .star {
    margin: 0 2px;
  }

  /*service*/
  .heading {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    padding: 0.6rem0.3rem;
  }

  .services .box-container {
    gap: 0.5rem;
  }

  .services .box-container .box {
    max-width: 20%;
    border-radius: 0.5rem;
    padding: 0.3rem;
  }

  .services .box-container .box i {
    padding: 0.3rem;
    font-size: 1.8rem;
  }

  .services .box-container .box h3 {
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .services .box-container .box p {
    font-size: 0.55rem;
    padding: 0.25rem 0;
  }

  /*about us*/
  .about {
    width: 100%;
    padding: 20px;
  }

  .about .left {
    padding: 30px;
    width: 50%;
  }

  .about .left img.imgabout {
    max-width: 370px;
    border-radius: 50px;
  }

  .about .about-content {
    padding: 30px;
    width: 50%;
  }

  .headingabout {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
  }

  hr {
    margin-bottom: 7px;
  }

  hr::before {
    width: 10px;
    height: 10px;
  }

  hr::after {
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .text {
    font-size: 14px;
    font-weight: 100;
  }

  h5 {
    font-size: 30px;
  }
}

@media (max-width: 1280px) {
  header {
    padding: 10px 5%;
  }

  .logo {
    font-size: 1.5em;
  }

  /* navigasi */
  .navigation a {
    font-size: 16 px;
    font-weight: 200;
    margin-left: 5px;
    padding: 3px 5px;
  }

  .navigation button {
    margin: 0.1em;
    padding: 0.5em 1em;
  }

  /*content*/
  .body .bodyBx {
    height: 47vh;
    margin-left: 10%;
    min-height: 100%;
    margin-top: 70px;
  }

  .body::before {
    max-height: 57.7vh;
  }

  .body .content h1 {
    font-size: 34px;
    font-weight: 400;
  }

  .body .content p {
    max-width: 456px;
    font-size: 22px;
    margin: 10px 0 20px;
  }

  .body .content .btn-box {
    display: flex;
    width: 82px;
    height: 23px;
  }

  .btn-box a {
    width: 89px;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
  }

  /* Popular Destination */
  .popular-destination {
    padding: 15px 0;
  }

  .section-title {
    font-size: 25px;
  }

  .section-subtitle {
    font-size: 18px;
  }

  .destination {
    padding: 12px;
    padding-top: 12px;
    padding: 0 12px;
  }

  .card {
    width: 330px;
    height: 400px;
    border-radius: 10px;
    padding-bottom: 0.4rem;
    margin: 0.9rem 1.1rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-img-top {
    height: 150px;
    margin-bottom: 1px;
  }

  .card-body {
    padding: 0.8rem 1.4rem;
    margin-bottom: 100px;
  }

  .card-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 13px;
  }

  /*testinmonials*/

  .testimonial {
    min-height: 800px;
    padding: 60px 0;
  }

  .testimonial .heading {
    font-size: 72px;
    margin-bottom: 40px;
  }

  .container {
    gap: 60px;
  }

  .contentBx {
    width: 600px;
    padding: 50px;
    margin: 0 160px;
  }

  .testimonialContent {
    flex: 1;
  }

  .testimonialImg {
    margin-top: 20px;
  }

  .contentBx p {
    font-size: 24px;
    line-height: 1.6;
  }

  h3 {
    font-size: 28px;
    margin-top: 20px;
  }

  .testimonial .rating {
    margin-top: 10px;
  }

  .testimonial .rating .star {
    margin: 0 2px;
  }

  /*service*/
  .heading {
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.6rem0.3rem;
  }

  .services .box-container {
    gap: 0.6rem;
  }

  .services .box-container .box {
    max-width: 20%;
    border-radius: 0.5rem;
    padding: 0.4rem;
  }

  .services .box-container .box i {
    padding: 0.3rem;
    font-size: 2rem;
  }

  .services .box-container .box h3 {
    font-size: 1.2rem;
    margin-top: 0.3rem;
  }

  .services .box-container .box p {
    font-size: 0.7rem;
    padding: 0.3rem 0;
  }

  /*about us*/
  .about {
    width: 100%;
    padding: 20px;
  }

  .about .left {
    padding: 30px;
    width: 50%;
  }

  .about .left img.imgabout {
    max-width: 400px;
    border-radius: 50px;
  }

  .about .about-content {
    padding: 30px;
    width: 50%;
  }

  .headingabout {
    font-size: 26px;
    font-weight: 450;
    margin-bottom: 7px;
  }

  hr {
    margin-bottom: 7px;
  }

  hr::before {
    width: 10px;
    height: 10px;
  }

  hr::after {
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .text {
    font-size: 17px;
    font-weight: 100;
  }

  h5 {
    font-size: 36px;
  }
}

@media (max-width: 1400px) {
  header {
    padding: 10px 5%;
  }

  .logo {
    font-size: 1.5em;
  }

  /* navigasi */
  .navigation a {
    font-size: 16 px;
    font-weight: 200;
    margin-left: 5px;
    padding: 3px 5px;
  }

  .navigation button {
    margin: 0.1em;
    padding: 0.5em 1em;
  }

  /*content*/
  .body .bodyBx {
    height: 47vh;
    margin-left: 10%;
    min-height: 100%;
    margin-top: 70px;
  }

  .body::before {
    max-height: 57.7vh;
  }

  .body .content h1 {
    font-size: 34px;
    font-weight: 400;
  }

  .body .content p {
    max-width: 456px;
    font-size: 22px;
    margin: 10px 0 20px;
  }

  .body .content .btn-box {
    display: flex;
    width: 82px;
    height: 23px;
  }

  .btn-box a {
    width: 89px;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
  }

  /* Popular Destination */
  .popular-destination {
    padding: 15px 0;
  }

  .section-title {
    font-size: 25px;
  }

  .section-subtitle {
    font-size: 18px;
  }

  .destination {
    padding: 12px;
    padding-top: 12px;
    padding: 0 12px;
  }

  .card {
    width: 400px;
    height: 470px;
    border-radius: 10px;
    padding-bottom: 0.4rem;
    margin: 0.9rem 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-img-top {
    height: 200px;
    margin-bottom: 1px;
  }

  .card-body {
    padding: 0.7rem 1.5rem;
    margin-bottom: 100px;
  }

  .card-title {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 16px;
  }

  /*testinmonials*/

  .testimonial {
    min-height: 800px;
    padding: 60px 0;
  }

  .testimonial .heading {
    font-size: 72px;
    margin-bottom: 40px;
  }

  .container {
    gap: 60px;
  }

  .contentBx {
    width: 600px;
    padding: 50px;
    margin: 0 160px;
  }

  .testimonialContent {
    flex: 1;
  }

  .testimonialImg {
    margin-top: 20px;
  }

  .contentBx p {
    font-size: 24px;
    line-height: 1.6;
  }

  h3 {
    font-size: 28px;
    margin-top: 20px;
  }

  .testimonial .rating {
    margin-top: 10px;
  }

  .testimonial .rating .star {
    margin: 0 2px;
  }

  /*service*/
  .heading {
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.6rem0.3rem;
  }

  .services .box-container {
    gap: 0.6rem;
  }

  .services .box-container .box {
    max-width: 20%;
    border-radius: 0.5rem;
    padding: 0.4rem;
  }

  .services .box-container .box i {
    padding: 0.3rem;
    font-size: 2rem;
  }

  .services .box-container .box h3 {
    font-size: 1.2rem;
    margin-top: 0.3rem;
  }

  .services .box-container .box p {
    font-size: 0.7rem;
    padding: 0.3rem 0;
  }

  /*about us*/
  .about {
    width: 100%;
    padding: 20px;
  }

  .about .left {
    padding: 30px;
    width: 50%;
  }

  .about .left img.imgabout {
    max-width: 400px;
    border-radius: 50px;
  }

  .about .about-content {
    padding: 30px;
    width: 50%;
  }

  .headingabout {
    font-size: 26px;
    font-weight: 450;
    margin-bottom: 7px;
  }

  hr {
    margin-bottom: 7px;
  }

  hr::before {
    width: 10px;
    height: 10px;
  }

  hr::after {
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .text {
    font-size: 17px;
    font-weight: 100;
  }

  h5 {
    font-size: 36px;
  }
}

@media (max-width: 1920px) {
  header {
    padding: 10px 5%;
  }

  .logo {
    font-size: 1.5em;
  }

  /* navigasi */
  .navigation a {
    font-size: 16 px;
    font-weight: 200;
    margin-left: 5px;
    padding: 3px 5px;
  }

  .navigation button {
    margin: 0.1em;
    padding: 0.5em 1em;
  }

  /*content*/
  .body .bodyBx {
    height: 52vh;
    margin-left: 10%;
    min-height: 100%;
    margin-top: 70px;
  }

  .body::before {
    max-height: 59vh;
  }

  .body .content h1 {
    font-size: 40px;
    font-weight: 400;
  }

  .body .content p {
    max-width: 456px;
    font-size: 30px;
    margin: 10px 0 20px;
  }

  .body .content .btn-box {
    display: flex;
    width: 82px;
    height: 37px;
  }

  .btn-box a {
    width: 120px;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 10px;
  }

  /* Popular Destination */
  .popular-destination {
    padding: 15px 0;
  }

  .section-title {
    font-size: 25px;
  }

  .section-subtitle {
    font-size: 18px;
  }

  .destination {
    padding: 12px;
    padding-top: 12px;
    padding: 0 12px;
  }

  .card {
    width: 400px;
    height: 470px;
    border-radius: 10px;
    padding-bottom: 0.4rem;
    margin: 0.9rem 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-img-top {
    height: 200px;
    margin-bottom: 1px;
  }

  .card-body {
    padding: 0.7rem 1.5rem;
    margin-bottom: 100px;
  }

  .card-title {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 16px;
  }

  /*testinmonials*/

  .testimonial {
    min-height: 800px;
    padding: 60px 0;
  }

  .testimonial .heading {
    font-size: 72px;
    margin-bottom: 40px;
  }

  .container {
    gap: 60px;
  }

  .contentBx {
    width: 600px;
    padding: 50px;
    margin: 0 160px;
  }

  .testimonialContent {
    flex: 1;
  }

  .testimonialImg {
    margin-top: 20px;
  }

  .contentBx p {
    font-size: 24px;
    line-height: 1.6;
  }

  h3 {
    font-size: 28px;
    margin-top: 20px;
  }

  .testimonial .rating {
    margin-top: 10px;
  }

  .testimonial .rating .star {
    margin: 0 2px;
  }

  /*service*/
  .heading {
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.6rem0.3rem;
  }

  .services .box-container {
    gap: 0.8rem;
  }

  .services .box-container .box {
    max-width: 20%;
    border-radius: 0.5rem;
    padding: 0.7rem;
  }

  .services .box-container .box i {
    padding: 0.5rem;
    font-size: 4rem;
  }

  .services .box-container .box h3 {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  .services .box-container .box p {
    font-size: 1rem;
    padding: 0.5 rem 0;
  }

  /*about us*/
  .about {
    width: 100%;
    padding: 20px;
  }

  .about .left {
    padding: 30px;
    width: 50%;
  }

  .about .left img.imgabout {
    max-width: 800px;
    border-radius: 80px;
  }

  .about .about-content {
    padding: 30px;
    width: 50%;
  }

  .headingabout {
    font-size: 40px;
    font-weight: 450;
    margin-bottom: 7px;
  }

  hr {
    margin-bottom: 7px;
  }

  hr::before {
    width: 10px;
    height: 10px;
  }

  hr::after {
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .text {
    font-size: 28px;
    font-weight: 100;
  }

  h5 {
    font-size: 52px;
  }
}

@media (max-width: 2048px) {
  header {
    padding: 10px 5%;
  }

  .logo {
    font-size: 3.5em;
  }

  /* navigasi */
  .navigation a {
    font-size: 22 px;
    font-weight: 200;
    margin-left: 5px;
    padding: 3px 5px;
  }

  .navigation button {
    margin: 0.1em;
    padding: 0.5em 1em;
  }

  /*content*/
  .body .bodyBx {
    height: 54vh;
    margin-left: 10%;
    min-height: 100%;
    margin-top: 70px;
  }

  .body::before {
    max-height: 59.4vh;
  }

  .body .content h1 {
    font-size: 54px;
    font-weight: 400;
  }

  .body .content p {
    max-width: 550px;
    font-size: 40px;
    margin: 10px 0 20px;
  }

  .body .content .btn-box {
    display: flex;
    width: 200px;
    height: 45px;
  }

  .btn-box a {
    width: 120px;
    font-size: 24px;
    font-weight: 400;
    padding: 5px 10px;
  }

  /* Popular Destination */
  .popular-destination {
    padding: 15px 0;
  }

  .section-title {
    font-size: 25px;
  }

  .section-subtitle {
    font-size: 34px;
  }

  .destination {
    padding: 12px;
    padding-top: 12px;
    padding: 0 12px;
  }

  .card {
    width: 440px;
    height: 590px;
    border-radius: 10px;
    padding-bottom: 0.4rem;
    margin: 0.9rem 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-img-top {
    height: 240px;
    margin-bottom: 1px;
  }

  .card-body {
    padding: 0.7rem 1.5rem;
    margin-bottom: 100px;
  }

  .card-title {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 19px;
  }

  /*testinmonials*/

  .testimonial {
    min-height: 800px;
    padding: 60px 0;
  }

  .testimonial .heading {
    font-size: 72px;
    margin-bottom: 40px;
  }

  .container {
    gap: 60px;
  }

  .contentBx {
    width: 600px;
    padding: 50px;
    margin: 0 160px;
  }

  .testimonialContent {
    flex: 1;
  }

  .testimonialImg {
    margin-top: 20px;
  }

  .contentBx p {
    font-size: 24px;
    line-height: 1.6;
  }

  h3 {
    font-size: 28px;
    margin-top: 20px;
  }

  .testimonial .rating {
    margin-top: 10px;
  }

  .testimonial .rating .star {
    margin: 0 2px;
  }

  /*service*/
  .heading {
    padding: 1rem;
    font-size: 4rem;
    border-radius: 0.5rem;
    padding: 0.6rem0.3rem;
  }

  .services .box-container {
    gap: 0.8rem;
  }

  .services .box-container .box {
    max-width: 20%;
    border-radius: 0.5rem;
    padding: 0.7rem;
  }

  .services .box-container .box i {
    padding: 0.5rem;
    font-size: 4rem;
  }

  .services .box-container .box h3 {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  .services .box-container .box p {
    font-size: 1rem;
    padding: 0.5 rem 0;
  }

  /*about us*/
  .about {
    width: 100%;
    padding: 20px;
  }

  .about .left {
    padding: 30px;
    width: 50%;
  }

  .about .left img.imgabout {
    max-width: 800px;
    border-radius: 80px;
  }

  .about .about-content {
    padding: 30px;
    width: 50%;
  }

  .headingabout {
    font-size: 40px;
    font-weight: 450;
    margin-bottom: 7px;
  }

  hr {
    margin-bottom: 7px;
  }

  hr::before {
    width: 10px;
    height: 10px;
  }

  hr::after {
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .text {
    font-size: 28px;
    font-weight: 100;
  }

  h5 {
    font-size: 52px;
  }
}

@media (max-width: 2188px) {
  header {
    padding: 10px 5%;
  }

  .logo {
    font-size: 3.5em;
  }

  /* navigasi */
  .navigation a {
    font-size: 22 px;
    font-weight: 200;
    margin-left: 5px;
    padding: 3px 5px;
  }

  .navigation button {
    margin: 0.1em;
    padding: 0.5em 1em;
  }

  /*content*/
  .body .bodyBx {
    height: 54vh;
    margin-left: 10%;
    min-height: 100%;
    margin-top: 70px;
  }

  .body::before {
    max-height: 59.4vh;
  }

  .body .content h1 {
    font-size: 54px;
    font-weight: 400;
  }

  .body .content p {
    max-width: 550px;
    font-size: 40px;
    margin: 10px 0 20px;
  }

  .body .content .btn-box {
    display: flex;
    width: 200px;
    height: 45px;
  }

  .btn-box a {
    width: 120px;
    font-size: 24px;
    font-weight: 400;
    padding: 5px 10px;
  }

  /* Popular Destination */
  .popular-destination {
    padding: 15px 0;
  }

  .section-title {
    font-size: 25px;
  }

  .section-subtitle {
    font-size: 34px;
  }

  .destination {
    padding: 12px;
    padding-top: 12px;
    padding: 0 12px;
  }

  .card {
    width: 440px;
    height: 590px;
    border-radius: 10px;
    padding-bottom: 0.4rem;
    margin: 0.9rem 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card-img-top {
    height: 240px;
    margin-bottom: 1px;
  }

  .card-body {
    padding: 0.7rem 1.5rem;
    margin-bottom: 100px;
  }

  .card-title {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 19px;
  }

  /*testinmonials*/

  .testimonial {
    min-height: 800px;
    padding: 60px 0;
  }

  .testimonial .heading {
    font-size: 72px;
    margin-bottom: 40px;
  }

  .container {
    gap: 60px;
  }

  .contentBx {
    width: 600px;
    padding: 50px;
    margin: 0 160px;
  }

  .testimonialContent {
    flex: 1;
  }

  .testimonialImg {
    margin-top: 20px;
  }

  .contentBx p {
    font-size: 24px;
    line-height: 1.6;
  }

  h3 {
    font-size: 28px;
    margin-top: 20px;
  }

  .testimonial .rating {
    margin-top: 10px;
  }

  .testimonial .rating .star {
    margin: 0 2px;
  }

  /*service*/
  .heading {
    padding: 1rem;
    font-size: 4rem;
    border-radius: 0.5rem;
    padding: 0.6rem0.3rem;
  }

  .services .box-container {
    gap: 0.8rem;
  }

  .services .box-container .box {
    max-width: 20%;
    border-radius: 0.5rem;
    padding: 0.7rem;
  }

  .services .box-container .box i {
    padding: 0.5rem;
    font-size: 4rem;
  }

  .services .box-container .box h3 {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  .services .box-container .box p {
    font-size: 1rem;
    padding: 0.5 rem 0;
  }

  /*about us*/
  .about {
    width: 100%;
    padding: 20px;
  }

  .about .left {
    padding: 30px;
    width: 50%;
  }

  .about .left img.imgabout {
    max-width: 800px;
    border-radius: 80px;
  }

  .about .about-content {
    padding: 30px;
    width: 50%;
  }

  .headingabout {
    font-size: 40px;
    font-weight: 450;
    margin-bottom: 7px;
  }

  hr {
    margin-bottom: 7px;
  }

  hr::before {
    width: 10px;
    height: 10px;
  }

  hr::after {
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .text {
    font-size: 28px;
    font-weight: 100;
  }

  h5 {
    font-size: 52px;
  }
}
